.table-container {
    max-width: 1248px;
    padding-top: 20px;
    margin: 0 auto;
}

.table-container mat-form-field {
    width: 100%;
}

.album-table {
    width: 100%;
}
  
.add-album-container {
    max-width: 1248px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.album-overview-title {
    margin-top: 15px;
    margin-bottom: 25px;
}
.album-overview-title>h2 {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}

.action-buttons-container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }